<%- include('layouts/admin/header.ejs') %>
                <div class="d-flex justify-content-center p-1">
                  <div class="row mx-5 viewed-user d-flex flex-column align-items-center m-auto">
                    <div class="p-3">
                      <div class="top-section col-lg-12"> 
                        <img src="/images/Background Image.png" alt="" class="cover-img">
                        <div class="profile-pic">
                          <form action="/admin/employee/profilePic/<%= employee._id %>" method="post" style="position: relative;" enctype="multipart/form-data">
                            <input type="file" name="avatar" id="profile" style="display: none;" onchange="this.form.submit()">
                            <label for="profile" style="position: absolute;bottom: 0;left: 0;right: 0;">
                              <span class="material-symbols-outlined" style="color:#F4F7FE;">
                              edit_square
                              </span>
                            </label>
                            <label for="profile">
                              <img <% if (employee.avatar) { %>
                                src="/images/avatar/<%= employee.avatar %>"
                              <% }else{ %>
                                src="/images/dummy-profile-pic.jpg"
                                <% } %> alt="" id="employee-pic">
                            </label>
                          </form>
                          <h4 id="view-name"><%= employee.firstname  %></h4>
                          <p id="view-email"><%= employee.email %></p>
                          <img src="" alt="">
                        </div>
                      </div>
                      <div class="row align-items-center justify-content-center m-0 gap-5">
                        <div class="row col-lg-12 gap-2 justify-content-center">
                          <div class="col-lg-4 bx-shadow py-2">
                              <h6>Gender</h6>
                              <h5 id="view-gender"><%= employee.gender %></h5>
                          </div>
                          <div class="col-lg-4 bx-shadow py-2">
                            <h6>Age</h6>
                            <h5 id="view-age"><%= 2024-employee.dob.split("-")[0] %></h5>
                        </div>
                        <div class="col-lg-4 bx-shadow py-2">
                          <h6>Date of Birth</h6>
                          <h5 id="view-dob"><%= employee.dob %></h5>
                      </div>
                        </div>
                        <div class="row col-lg-12 gap-3 justify-content-center">
                          <div class="col-lg-6 bx-shadow py-2">
                            <h6>Mobile Number</h6>
                            <h5 id="view-mobile"><%= employee.mobile %></h5>
                          </div>
                          <div class="col-lg-6 bx-shadow py-2">
                            <h6>Qualifications</h6>
                            <h5 id="view-qualifications"><%= employee.qualifications %></h5>
                          </div>
                        </div>
                        <div class="row col-lg-12 gap-3 justify-content-center">
                          <div class="col-lg-6 bx-shadow py-2">
                            <h6>Address</h6>
                            <h5 id="view-address"><%= employee.address %></h5>
                          </div>
                          <div class="col-lg-6 bx-shadow py-2">
                            <h6>Username</h6>
                            <h5 id="view-username"><%= employee.username %></h5>
                          </div>
                        </div>
                        <div class="d-flex justify-content-end col-lg-12 py-2">
                          <input type="text" name="" id="view-empid" style="display: none;">
                          <div id="employee-table" style="display: none;"></div>
                          <div id="limit-of-employee" style="display: none;"></div>
                         <% if(loginUser.super_admin){ %>
                          <!-- Button trigger modal -->
                          <button type="button" class="btn danger-btn" onclick="deleteEmployeePopup(`<%= employee._id %>`)">
                            Delete
                          </button>
                          <% } %>
                          <button onclick="editEmployeePopup(`<%= employee._id %>`)" class="btn success-btn">Edit Details</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
         <%- include('layouts/admin/footer.ejs') %>
